[submodule "lib/geb-chainlink-median"]
	path = lib/geb-chainlink-median
	url = https://github.com/reflexer-labs/geb-chainlink-median.git
[submodule "lib/geb-governance-led-median"]
	path = lib/geb-governance-led-median
	url = https://github.com/reflexer-labs/geb-governance-led-median.git
